{
	"ipconfig_path" = "~/Object/xxxx/IPConfig.h";
	"svn_work_path" = "~/Object/xxxxxxx";
	"project_name" = Communication;
	"project_type" = workspace;
	scheme = Communication;
	"appStoreProvisioningProfile" = "74200373-abbe-4600-aaf2-424ee354534a";
	"adHocProvisioningProfile" = "ec246e64-57a4-43a9-a918-34f08e1f716f";
	codeSignIdentity = "iPhone Distribution: xxxxxx ";
	"app_info_path" = "~/Object/xxxx/Info.plist";
	"project_path" = "~/Object/xxxx";
}