{
	"ipconfig_path" = "/Users/ination/Object/100/IOS/Branch/diandi100/diandi100_E/Communication/IPConfig.h";
	"svn_work_path" = "/Users/ination/Object/100/\U70b9\U6ef4100\U6587\U6863/IOS\U5ba2\U6237\U7aef\U5b89\U88c5\U5305";
	"project_name" = Communication;
	"project_type" = workspace;
	scheme = Communication;
	codeSignIdentity = "iPhone Distribution: Wuhan Tianyu Communication Technology CO. LTD (ZPD9SMYDAB)";
	"app_info_path" = "/Users/ination/Object/100/IOS/Branch/diandi100/diandi100_E/Communication/Communication-Info.plist";
	"project_path" = "/Users/ination/Object/100/IOS/Branch/diandi100/diandi100_E";
}